@mixin grid($count) {
    @for $i from 1 to ($count + 1) {
        .col-#{$i}{
            width: (100% / $count) * $i;
            float: left;
            &.show{
                display: block;
            }
        }
        .hide-pc{
            display: none;
        }
        /* mobile */
        @media (max-width: 500px) {
            .col-mb-#{$i}{
                width: (100% / $count) * $i;
                float: left;
            }
            .hide-mb{
                display: none;
            }
            .show-mb{
                display: block;
            }
        }
        /* tablet */
        @media (max-width: 800px) {
            .col-tb-#{$i}{
                width: (100% / $count) * $i;
                float: left;
            }
            .hide-tb{
                display: none;
            }
            .show-tb{
                display: block;
            }
        }
    }
}