@import './grid';
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
    @include grid(15);
}
.control-container{
    padding: 0 15px;
}
.container {
    padding: 3em 4em;
    background: #E0E0E0;
}
label{
    font-weight: bold;
    font-size: 13px;
    color: #616161;
}
.text-fail{
    color: #F44336;
}
.text-success{
    color: #8BC34A;
}
hr{
    margin: 2em;
    border-color: white;
}
.pull-right{
    float: right;
}

.pointer{
    cursor: pointer;
}
@for $i from 1 to 6 {
    h#{$i}{
        color: #616161;
    }
}