.result-item{
    padding: 0 15px;
}
.filter-container{
    padding: 10px;
    background: #EEEEEE;
    border-bottom: 1px solid #BDBDBD;
}
.results-container{
    padding: 15px;
    background: white;
}
.launch-patch{
    width: 100px;
}
.flight-number{
    width: 150px;
    margin: 25px 0px;
    .number{
        font-size: 40px;
    }
}
a{
    color: gray;
    text-decoration: none;
    margin-right: 1em;
    &.tag {
        display: inline-block;
        padding: .5em;
        border: solid 1px #BDBDBD;
        border-radius: .5em;
    }
}